.jumbotron {
    background-image: url(/images/Hotel-Presidente-GAlcudia-27.jpg);
    background-position: 0 0;
    color: floralwhite;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: orange;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}
.btn-reserva {
    width: 100%;
    border-radius: 0px;
    
}
.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top:10px;
}
.social {
    width: 1.5rem;
}

