.jumbotron {
  background-image: url(/images/Hotel-Presidente-GAlcudia-27.jpg);
  background-position: 0 0;
  color: floralwhite;
  margin-top: 50px;
  margin-bottom: 20px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #ff9d26;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.social {
  width: 1.5rem;
}
