$orange: #ff9d26;//cambiamos el color por la variable, en este caso en el footer
$yellow: #f7db4d;
$green: #2ff21d;
$red: #ed4734;

//definios un mixin que nos permite trabajar con los margenes
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;  
}

.jumbotron {
    background-image: url(/images/Hotel-Presidente-GAlcudia-27.jpg);
    background-position: 0 0;
    color: floralwhite;
    @include margenes(50px, 20px); //hay que definirle siempre ambos parametros
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $orange;//Le pusimos la variable $orange
    @include margenes(10px, 0px);
}
.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}
.btn-reserva {
    width: 100%;
    border-radius: 0px;
    
}
.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top:10px;
}
.social {
    width: 1.5rem;
}
