@orange: #ff9d26;
@yellow: #f7db4d;
@red: #ed4734 ;
@green: #2ff21d;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-image: url(/images/Hotel-Presidente-GAlcudia-27.jpg);
    background-position: 0 0;
    color: floralwhite;
    .margenes(50px, 20px)
     }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @orange;
    .margenes(10px, 0px);
   }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px)
    }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  
  .social {
    width: 1.5rem; }
  